MYSQL_DATABASE="database"
MYSQL_USER="user"
MYSQL_PASSWORD="password"
MYSQL_ROOT_PASSWORD="root"

SMTP_HOST="smtp.server.com"
SMTP_USER="user@domain.com"
SMTP_PASSWORD="suasenha"
SMTP_AUTH="true"
SMTP_SECURITY_METHOD="tls"
SMTP_PORT="587"

DOMAIN="localhost"
DOMAIN_URL="http://localhost"

PASSWORD_SALT="ï¿½h329*ï¿½%&ï¿½*(smd!ï¿½"

LETSENCRYPT_HOST="localhost"
LETSENCRYPT_EMAIL="user@domain.com"
