.top-menu {
  border: none;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
.top-menu ul {
  background: #991b1b;
  height: 36px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-menu li {
  flex: 1;
  text-align: center;
}
.top-menu li a {
  color: #f9eecd;
  display: block;
  line-height: 36px;
  margin: 0px;
  padding: 0px 25px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.top-menu li a:hover {
  background: #b91c1c;
  color: #ffffff;
  text-decoration: none;
}
.top-menu ul li:hover a {
  color: #ffffff;
  text-decoration: none;
}
.top-menu li ul {
  display: none;
  border-radius: 15px !important;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 200px;
  z-index: 200;
  opacity: 0.9;
  filter: alpha(opacity=70);
}
.top-menu li:hover ul {
  display: block;
}
.top-menu li li {
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 200px;
  background: #000;
  /*this is where the rounded corners for the dropdown disappears*/
}
.top-menu li:hover li a {
  background: none;
}
.top-menu li ul a {
  width: 175px; /*gambiarra arrumar vermelho */
  display: block;
  height: 36px;
  font-size: 12px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;  
}
.top-menu li ul a:hover,
.top-menu li ul li:hover a {
  border: 0px;
  color: #ffffff;
  text-decoration: none;
  background-color: red;
  -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.3);
}
