.dvHdr {
   width: 150px;
   font-family: arial;
   border: 2px solid #B9892F;
   padding: 3px;
   fontSize: 10px;
   color: #7b5737;
   /* background:url(../images/medalhas/titulo-toll.png); */
   z-index: 10;
   position: relative;
margin-left:3px;}

.dvBdy {
   border-bottom: 2px solid #b08250;
   border-left: 2px solid #b08250;
   border-right: 2px solid #b08250;
   width: 150px;
   font-family: arial;
margin-left:3px;
   fontSize: 11px;
   padding: 3px;
   color: #7b5737;
   background: #fff1ba;
   z-index: 10;
   position: relative;
}
